body{
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

background-color: #e7e6e5;
}


header{
    background-color: #ff3842;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.x{

    background-color: white;
    color: #ff3842;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;

}

.firstt{
    font-size: medium;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
   color: white;
    width: 50%;
    height: 50%;

    margin: 5%;

}
.b{
    color: #ff3842;


}

.u{
display: flex;
flex-direction: column;

}


.line{
    background-color: white;
    height: 65%;
    width: 1px;
}

.red{

    background-color: #ff3842;
}

.unete{
    text-align: center;
    color:  #ff3842;
    background-color: white;

    width: 300px;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px;
    

}


.allt{

    display: flex;

    flex-direction: column;
    margin-top: 50px;

}

.transf{

    background-color: #f5f7fa;
    display: flex;
    text-align: left;
    font-size: small;
    
    align-items: center;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    border-bottom: 2px solid #acaaa8;
    height: 300px;


}

.c{
    display: flex;
    flex-direction: column;
    border: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: fit-content;
    height: fit-content;
    width: fit-content;

}
.primes{
width: 90%;

}
p{
width: 90%;


}

.autobot{
    width: 300px;
    height: 300px;
}

.t{

    font-size: medium;
    font-weight: bold;
    border: solid  #ff3842;
    color: black;
    
}

.l{

    justify-content: center;
margin-left: 30%;
margin-bottom: 50px;

}


.formsocial{

background-color: white;
height: 500px;

}

.social{
display: flex;
flex-direction: column;
align-items: center;
padding: auto;

height: 500px;

}

.alfa{

    height: 500px;
}

.namecor{
display: flex;
}

input{
 margin: 20px;

}

textarea{
resize: none;
}



.links{

    text-decoration: none;
    color: black;
}

li{

width: 90%;

}

.iconos{
width: 20px;
height: 20px;


}

.foo{
height: 75%;

}

